{% extends "layout.html" %}
{% block body %}

<div class="mx-3 px-3">
    <h1>Decoder</h1>
    <div>
        <p>Oto flaga:</p>
        <p>{{flag}}</p>
        <p>Jest ona jednak zakodowana. Musisz użyć narzędzia <i>Decoder</i>, aby odkodować flagę.</p>
        <ol>
            <li>Przejdź do zakładki <i>Decoder</i> i wklej zakodowany ciąg znaków</li>
            <li>Po prawej stronie jest menu. Musisz wybrać odpowiednie wartości z dropdowna <i>Decode as</i></li>
            <li>Flaga została zakodowana 4-krotnie, więc tyle samo razy trzeba ją odkodować, aby dojść do ciągu zaczynającego się od <code>msfi{</code></li>
        </ol>
    </div>

</div>

{% endblock %}