{% extends "layout.html" %}
{% block body %}


<div class="mx-3 px-3">
    <h1>Ustawienie proxy</h1>
    
    <h3>Instalacja dodatku do przeglądarki FoxyProxy</h3>

    <div>
        <ol>
            <li>Przejdź na stronę <a href='https://chrome.google.com/webstore/detail/foxyproxy-standard/gcknhkkoolaabfmlnjonogaaifnjlfnp?hl=en'>FoxyProxy Standard</a> w chrome web store i dodaj dodatek do przeglądarki</li>
            <li>Kliknij ikonę puzzla obok ikony profilu i przypnij FoxyProxy do widocznych dodatków. Dodatek powinien być widoczny tak jak na obrazku poniżej.</li>
        </ol>
        <img src="{{ url_for('static', filename='img/extensions.png' ) }}" class="img-fluid w-25 mx-3 px-3" alt="Extensions"><br><br>
    </div>

    <h3>Konfiguracja FoxyProxy</h3>

    <div>
        <ol>
            <li>Kliknij na ikonę FoxyProxy i wybierz <i>Options</i></li>
            <li>Kliknij <i>Add new Proxy</i></li>
            <li>W zakładce <i>General</i> wpisz nazwę proxy <i>burp</i></li>
            <li>W zakładce <i>Proxy Details</i> wybierz <i>Manual Proxy Configuration</i> i wpisz adres proxy 127.0.0.1 i port 8080. Pole <i>SOCKS proxy</i> <b>nie</b> powinno być zaznaczone.
            <img src="{{ url_for('static', filename='img/proxy_details.png' ) }}" class="img-fluid w-50 mx-3 px-3" alt="Proxy Details"><br><br></li>
            <li>W zakładce <i>URL patterns</i> Wybierz <i>Add new pattern</i></li>
            <li>Wypełnij <i>Pattern Name: localhost</i> a w polu <i>URL pattern</i> wpisz <i>*localtest.me*</i> lub nazwę innej domeny, do której ruch chcesz przechwycić.
            <img src="{{ url_for('static', filename='img/proxy_pattern.png' ) }}" class="img-fluid w-35 mx-3 px-3" alt="Proxy Pattern"><br><br></li>
            <li>Upewnij się, że zaznaczone są opcje <i>Whitelist</i> oraz <i>Wildcards</i> i zapisz pattern</li>
            <li>Kliknij na ikonę FoxyProxy i wybierz opcję <i>Use proxies based on their pre-defined patterns and priorities</i></li>
            <li>Odśwież tą stronę i zobacz, czy wyświetla się w zakładce <i>Proxy</i> > <i>HTTP history</i>
            <img src="{{ url_for('static', filename='img/proxy.png' ) }}" class="img-fluid w-35 mx-3 px-3" alt="Request visible in proxy"><br><br></li>
            <li>Jeżeli tak, to środowisko jest skonfigurowane poprawnie, jeżeli nie, upewnij się, że wszystkie ustawienia są zgodne z instrukcją. W razie problemów, poproś prowadzących o pomoc.</li>
        </ol>
    </div>

    <h3>Zainstalowanie certyfikatu*</h3>
    <div>
        Instalowanie certyfikatu nie będzie wymagane do wykonywania naszych zadań, ale będzie konieczne do pracy z prawdziwymi stronami. Dlatego też, jest to zadanie "z gwiazdką", dla chętnych.
        <ol>
            <li>Dodaj nowy URL pattern do FoxyProxy <code>*burpsuite*</code></li>
            <li>Kliknij na napis <i>CA Certificate</i> i zapisz na dysku pobrany certyfikat</li>
            <li>Nastepnie przejdź do odpowiedniego linku ze strony producenta narzędzia Burp Suite:<ul>
                <li><a href="https://portswigger.net/burp/documentation/desktop/getting-started/proxy-setup/certificate/firefox">Installing Burp's CA certificate in Firefox</a></li>
                <li><a href="https://portswigger.net/burp/documentation/desktop/getting-started/proxy-setup/certificate/chrome">Burp's CA certificate in Chrome</a></li>
                <li><a href="https://portswigger.net/burp/documentation/desktop/getting-started/proxy-setup/certificate/safari">Installing Burp's CA certificate in Safari</a></li>
            </ul></li>
            <li>Aby sprawdzić poprawność konfiguracji, zaznacz na chwilę w FoxyProxy <i>Use burp for all URLs</i> i odśwież jakąś stronę wykorzystującą protokół https. Jeżeli wszystko jest ustawione dobrze, w przeglądarce nie zobaczysz ostrzeżenia o niebezpiecznym połączeniu, a w historii Burp Suite zobaczysz żądania do tej strony.</li>
        </ol>
    </div>
</div>

{% endblock %}