{% extends "base.html" %}
{% block layout %}
<body>
    <header>
      <style>
        .navbar{
          margin-left: 20px;
        }
      </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&#9;SFI 2021 - warsztaty z atakowania aplikacji webowych - Burp Lab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link {% if nav == 'setup' %}active{% endif %}" href="/">Setting up proxy<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'history' %}active{% endif %}" href="{{url_for('core.history')}}">Proxy - HTTP history<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'intercept' %}active{% endif %}" href="{{url_for('core.intercept')}}">Proxy - Intercept<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'repeater' %}active{% endif %}" href="{{url_for('core.repeater')}}">Repeater<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'intruder' %}active{% endif %}" href="/">Intruder<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'decoder' %}active{% endif %}" href="/">Decoder<span class="sr-only"></span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <footer></footer>
</body>
{% endblock %}